@font-face {
font-family: 'Edwardian Scr Alt ITC TT';
font-style: normal;
font-weight: normal;
src: local('Edwardian Scr Alt ITC TT'), url('Edwardian Scr Alt ITC TT.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5et2pi');
  src:  url('fonts/icomoon.eot?5et2pi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5et2pi') format('truetype'),
    url('fonts/icomoon.woff?5et2pi') format('woff'),
    url('fonts/icomoon.svg?5et2pi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*comentarios*/
article {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  color:rgba(0,0,0,0.6);
}

header>p>a{margin:.3em;padding:.5em;background-color: darkgray;border-radius: 1em;color:white;}
header>p>a:hover{background-color:gray;
  border: none;
  color:black;}
header>p{top:.5em;color:gray;
z-index: 100000;
position: -webkit-sticky;
  position: sticky;}
.es{display:none;}
.quote {
  background:white;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: white transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
}

.student .photo {
 
  background-color: #ccc;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.student p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}

.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.student p:nth-child(3) {
  font-size: 14px;
  color: #777;
}
/*fin comentarios*/


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*header*/
header{

      min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0,1), transparent), url(back.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

body{align-items:center;justify-content:center;font:14px/1.5 'Open Sans',sans-serif;color:#345;background:#f0f2f4;padding: 0;margin:0;}

header>div{position: absolute;
width: 100%;
padding-top:25vh;}

#logo{font-family: 'Edwardian Scr Alt ITC TT';
font-size: 6em;
color:#b5b7b9;
font-weight: normal;
text-align: center;
width: 100%;
top:.35em;
position: relative;
line-height: 0%;}

.plogo{font-size: 2em;
color:white;
font-weight: normal;
text-align: center;
top:2.1em;
position: relative;}

.plogo>span{font-size:.9em;}
  .button {
  background-color:transparent;
border: solid white 2px;
color: white;
padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: .4em;
  margin-top: 1em;
    min-width: 200px;
    font-size: .7em;}

.button:hover
{
  background-color:white;
  border: none;
  color: darkgray;
  
}
.up{text-align: center;
margin-bottom: 0;}
.up>a{background:white;
padding:.7em;
position: relative;
top:.1em;
border-radius: 2em;
color:gray;
font-size: 1.2em;}
.burrito{;
max-width: 510px;
display: block;
margin: 0 auto;}

.info{background-color: white;
}
.info>div>div{width:100%;
padding:0 1em;
display: inline-block;}
.info:first-child{background: red;}
.info>div>div>p{text-align: center;}

.infode{text-align: center;
padding:1em;}
.infode>a{background: gray;
padding:.5em;
margin-top:1em;
color:white;
border-radius:.4em;
margin-left:1em;}
footer>p{text-align: center;
color:gray;
margin-top: 1em;}
.infode>a:hover{
background:darkgray;
}
#tel:before{font-family: icomoon;
  content: "\e942";
  color: white;
font-size: 12px;}
  #mail:before{font-family: icomoon;
  content: "\e906";
  color: white;
  font-size: 12px;}

  
footer>p>a{background: gray;
border-radius: 4em;
margin: .4em;
padding:.7em;
font-size: 14px;}
/*fin header*/
.menu{width: 100%;
margin:.5%;
display: inline-block;
padding:1em;}
.menu{color: darkgray;}
.menu>span{float:right;
font-size: 1.4em;
color:#615e5e}
.menu>strong{font-size: 1.5em;
color:#615e5e}

.extra{border-bottom: dotted #d8d8d8;}
.extra>p{font-size: 10px;}
.frescos{border-bottom: dotted #d8d8d8;}
.frescos>p{font-size: 10px;}
/*about*/
#about{display:inline-block;

}
#about>img{margin: 0 auto;
width: 90%;
display:block;
border-radius: 1em;
padding: .5em; 
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
margin-bottom: 1em;}

#about>div>p{width: 100%;
  text-align:justify;}
#about>div{background: white;
border-radius: 1em;
display: block;
padding: 1em;
width: 90%;
margin: 0 auto;}

.reco{overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;}


main {
 
  display: block;
  margin: 1em auto;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}



section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input {
  display: none;
}
[type='checkbox'] + label, [type='radio'] + label{margin: 0;}
label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 5px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
  border-radius: .5em .5em 0 0;
  font-size: 0px;
}


.fb:before {
  font-family: icomoon;
  content: "\ea90";
  color: white;
}
.yelp:before {
  font-family: icomoon;
  content: "\e900";
  color: white;
}
.instagram:before {
  font-family: icomoon;
  content: "\e902";
  color: white;
}
.instagram:hover{background: #A135BB;}
.fb:hover{background: #4267B2;}
.yelp:hover{background: #D32323;}
.review:before{ 
  font-family: icomoon;
  font-weight: normal;
  margin-right:10px;
  content: "\e900";
  }
.review{text-align: center;font-size: 1.5em;display: block;}
label:before {
  font-family: icomoon;
  font-weight: normal;
  margin-right:10px;
font-size: 16px;
}

label[for*='1']:before { content: '\e9a3'; }
label[for*='2']:before { content: "\e904"; }
label[for*='3']:before { content: '\e901'; }
label[for*='4']:before { content: '\e544'; }

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #a53139;
  border: 1px solid #abc;
  border-top: 2px solid #a53139;
  border-bottom: 1px solid white;
  font-size: 16px;
      margin-left: 12px;
    position: relative;
    top:2px;
    background: white;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

/* Contenedores platillos */
.titulos{font-family: 'Edwardian Scr Alt ITC TT';
font-size: 3em;
color:#b5b7b9;
font-weight: normal;
text-align: center;
width: 100%;
top:.35em;
}
.pega>a{background:white;
padding:1em;
border-radius: 0 0 1em 1em;

  position: relative;
    left:5px; }
.pega{
width: 100%;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;}

.precios{
position: relative;
float: right;
padding-right: .5em;
font-size: 1.5em;}
.platillos{max-width: 100%;
	background: #5f5e5e08;
box-shadow: 0 8px 6px -6px gray;
padding-bottom: .5em;
display: inline-block;
margin: 1em;
border-radius:0em 0em 1em 1em;}
.platillos>img{max-width: 100%;
border-radius: 1em 1em 0 0;}
.platillos>p>strong{font-size:1.2em;
color:gray;}
.platillos>p{margin: 1em;}


@media only screen and (min-width: 700px) {
  .menu{width: 48%;}

    .platillos{max-width:45%;
     }
     .info>div>div{width:250px;}
.button{font-size: 1em;}
  #logo{font-size: 9em;}
.titulos{font-size: 5em;}
.plogo{top:3.2em;}
label:{padding: 5px 10px;}
#about>img{;
width:80%;
}
#about>div{background: white;
width: 80%;
}
}
#blanquito{color: white;}
@media only screen and (min-width: 1024px) {
    .platillos{max-width:30%;}
.plogo>span{font-size:1.1em;}
  #logo{font-size: 11em;}
#about>img{border-radius: 1em;
width:40%;
padding: .5em; 
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
margin-bottom: 1em;
margin-left: 2.5%;
display: inline-block;}


#about>div{
background: white;
width: 55%;
float: right;
padding: 1em;
margin-right: 1em;
border-radius: 1em;
}
}



